<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.stu.max.cocovendor">

    <!-- 开机自启权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 录制视频/音频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 调用摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 挂载sd卡 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 悬浮窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 关闭应用程序的权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 申请WiFi访问网络的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".javaClass.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_vendor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vendor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d47a4f292183bbe8a69fff44e38dbfee" />

        <activity
            android:name=".activities.HomePageActivity"
            android:label="主页" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="设置" />
        <activity
            android:name=".activities.SalesSettingActivity"
            android:label="销售设置"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.SettingMenuActivity"
            android:label="设置" />
        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AdSettingActivity"
            android:label="广告设置" />
        <activity
            android:name=".activities.OthersSettingActivity"
            android:label="系统设置" />
        <activity
            android:name=".activities.CameraSettingActivity"
            android:label="监控设置" />

        <service android:name=".services.VideoService" />

        <receiver android:name=".javaClass.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.SerialPortSettingMainMenu" />
        <activity android:name=".activities.SerialPortPreferences" />
        <activity android:name=".activities.ConsoleActivity" />
        <activity android:name=".activities.LoopbackActivity" />
        <activity android:name=".activities.Sending01010101Activity" />
        <activity android:name=".activities.ScreenSaverActivity" />
        <activity
            android:name=".activities.SalesAnalyzeActivity"
            android:label="销售统计" />
        <activity
            android:name=".activities.SheetSalesActivity"
            android:label="销售信息" />
        <activity
            android:name=".activities.SheetGoodsActivity"
            android:label="货物信息" />
        <activity
            android:name=".activities.SheetInfoActivity"
            android:label="本机信息" />
        <activity
            android:name=".activities.PayActivity"
            android:label="支付页" />
        <activity
            android:name=".activities.SheetActivity"
            android:label="信息表" />
        <activity android:name=".activities.SingleProductSalesPandectActivity" />
        <activity android:name=".activities.SingleProductSalesAnalyzeActivity" />
        <activity android:name=".activities.DailySalesActivity" />
        <activity android:name=".activities.MonthlySalesActivity" />
        <activity android:name=".activities.CabinetDailySalesAnalyzeActivity" />
        <activity android:name=".activities.CabinetMonthlySalesAnalyzeActivity" />
        <activity android:name=".activities.CargoLaneTestActivity"></activity>
    </application>

</manifest>